<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colored Design - Accueil</title>
  </head>
  <body>
    {% include 'magasin/base.html' %}
    <header>
      {% if request.session.username %}
      <p>Bienvenue, {{ request.session.username }}!</p>
        {% else %}
        <p>Bienvenue, visiteur!</p>
{% endif %}
      <nav>
        <ul>
          <li><a href={% url 'index' %}>Application n°1 : Magasin</a></li>
          <li><a href="#">Application n°2</a></li>
          <li><a href="#">Application n°3</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Un titre</h2>
        <p>Un paragraphe</p>
      </section>
    </main>
    <footer>
      <p>Base de Page de Votre Site Web Django</p>
    </footer>
  </body>
</html>
